*,
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
label,
th,
td,
img {
  border: none;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea {
  outline: none;
}

input:focus,
button:focus {
  outline: none;
}

textarea {
  resize: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[disabled],
button[disabled] {
  cursor: not-allowed;
}

input::placeholder,
textarea::placeholder {
  color: #c0c4cc;
}

label {
  user-select: none;
}

.hide {
  overflow: hidden;
}

.clear {
  clear: both;
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.text-right{
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inline{
  display: inline-block;
}
.mb20{
  margin-bottom: 20px;
}
.mt20{
  margin-top: 20px;
}
.mt10{
  margin-top: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.mb0{
  margin-bottom: 0!important;
}
.mr10{
  margin-right: 10px;
}
.mr20{
  margin-right: 20px;
}
html,
body,
#app,
.fullPage,
.Main {
  height: 100%;
}